* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 120%;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1rem;
}

.searchIcon {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  background: #2e2d2d00;
}

input.search-bar {
  height: 49px;
  width: 90%;
  border-radius: 12px;
  background-color: #3533333d;
  font-size: 20px;
  border: 0.5px solid #4a49492e;
  color: white;
  padding: 0.7rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.city {
  padding: 9px;
  margin-top: 12px;
  margin: 0;
}

h1.temp {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading....";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

@media screen and (max-width: 480px) {
  body {
    background-size: cover;
  }
}
